/* التصميم العام */
body {

    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #523636eb;
    color: #c99c9c;
}

header {
    background: #9b9292232;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section { text-align: center;
    padding: 2rem;
    margin: 1rem 0;
    background: #fff;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* تصميم النموذج */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea, form button {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background: #927272;
    color: #efedee;
    cursor: pointer;
    margin-top: 15px;
}

form button:hover {
    background: #940c0c;
}